body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(4, 3, 48);
    text-align: center;
    color: white;
    border: 50px solid blanchedalmond;
    border-top: 0px;
    margin: 0px;
}
p{
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
}
form{
    font-size: 1.5em;
    margin-bottom: 20px;
}
#sub{
    background-color: gold;
    height: 80px;
    width: 150px;
    margin-top: 12px;
    border-radius: 25px;
    font-size: 1em;
}
#ee{
    height: 80px;
    width: 150px;
    margin-top: 12px;
}